*{
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
  border: 2px solid green;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pokemon-card {
    width: 256px;
    height: 400px;
    margin: 500px auto;
    background-color: rgb(224,60,0);
    border: 15px rgb(251, 201, 116) solid;
    border-radius: 3%;
}

.header{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 30px;
    border: none;
}

.pokemon-name,
.life-points{
    display: inline-block;
    font-weight:700;
    font-size: 18px;
    border: none;
}

.life-points{
    float: right;
    margin-right: 10px;
}

#mainimg{
    display: block;
    width: 210px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 5px rgb(251, 195, 99) solid;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.stats {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 8px;
    border: none;
}

.stats p {
    font-size: 10px;
    margin: 0px 10px 0px 15px;
    background-color: rgb(251, 195, 99);
    border: none;
    font-weight: 100;
    text-align: center;
}

.attacks {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    border: none;
}

.Scratch{
    height: 50px;
    border: none;
}


.Scratch img {
    width: 15px;
    height: auto;
    margin: 15px 0px 15px 5px;
    display: inline-block;
    float: left;
    border: none;
}

.Scratch .nameattack{
    display: inline-block;
    margin-left: 63px;
    margin-top: 10px;
    border: none;
}

.Scratch .attackHP{
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    border:none;
}

.Ember {
    height: 50px;
    border: none;
}

.Ember img{
    width: 15px;
    height: auto;
    margin: 15px 0px 15px 5px;
    display: inline-block;
    float: left;
    border: none;
}

.Ember .nameattack{
    display: inline-block;
    margin-left: 45px;
    margin-top: 12px;
    border: none;
}

.Ember .attackHP{
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    border: none;
}



